<div class="row">
  <div class="col-xs-12">
    <p>Add New server or blueprint</p>
    <label for="servername">Servername</label>
    <input type="text" id="servername" class="form-control" [(ngModel)]="newServerName">
    <label for="serverContent">serverContent</label>
    <input type="text" id="serverContent" class="form-control" [(ngModel)]="newServerContent">
    <button class="btn btn-success" (click)="onAddServer()" >Add Server </button>
    <button class="btn btn-success" (click)="onAddBluePrint()" >Add blue print </button>
  </div>
</div>
